.Rhistory
_main.docx
_main.Rmd
*.Rproj
*.Rhistory
*.docx
*.csv
Analyses/estimate_mortality/mortality_plots.pdf
Analyses/estimate_mortality/poisson_glmm_sim.R


_book/
_bookdown_files/
**/plots

.Rproj.user/
libs/
drafts/
Data/
data/
Analyses/clean_data/data
/Meetings
