.Rhistory
_main.docx
_main.Rmd
*.Rproj
*.Rhistory
*.docx
*.csv
Analyses/estimate_mortality/mortality_plots.pdf
Analyses/estimate_mortality/poisson_glmm_sim.R


_book/
_bookdown_files/
**/plots

.Rproj.user/
libs/
drafts/
Data/
data/
Analyses/clean_data/data
/Meetings



 
Analyses/estimate_mortality/ASMFC Style Guide.pdf
Analyses/estimate_mortality/ASMFC_images.R
Analyses/estimate_mortality/Preliminary_Z40_ref_pts_RH_SA_2023.xlsx
Analyses/estimate_mortality/QAQC_estimates.R
Analyses/estimate_mortality/_extra.R
Analyses/estimate_mortality/estimates_06_October_2023/
Analyses/estimate_mortality/mortality_plots_b.pdf
Analyses/estimate_mortality/region_mortality_cohort_plots.pdf
Analyses/estimate_mortality/region_mortality_plots.pdf
Analyses/estimate_mortality/region_mortality_plots_b.pdf
Analyses/estimate_mortality/region_mortality_plots_by_sex.pdf
Analyses/estimate_mortality/region_mortality_plots_by_sex_b.pdf
Analyses/estimate_mortality/river_mortality_cohort_plots.pdf
Analyses/estimate_mortality/river_mortality_plots.pdf
Analyses/estimate_mortality/river_mortality_plots_by_sex.pdf
Analyses/estimate_mortality/samplesize_mortality.R

Literature/ChapmanandRobson_1960 Biometrics Analysis of a catch curve.pdf
docs/


Analyses/estimate_mortality/text_for_report/.Rhistory
Analyses/estimate_mortality/text_for_report/_main.docx
Analyses/estimate_mortality/text_for_report/preamble.tex
Analyses/estimate_mortality/text_for_report/README.md
Analyses/estimate_mortality/text_for_report/style.css

Analyses/estimate_mortality/examine_NHdata.R
Analyses/estimate_mortality/old_estimates/
Analyses/estimate_mortality/river_mortality_plots_NH_nounknowns.pdf
Analyses/estimate_mortality/river_mortality_plots_NH_unknowns.pdf
Analyses/estimate_mortality/text_for_report/RH_sSPR_Tables_12_06_23.xlsx
Analyses/estimate_mortality/text_for_report/RiverHerringZ_files/
Analyses/estimate_mortality/text_for_report/_main_cache/
Analyses/estimate_mortality/text_for_report/_region_plots.Rmd
	